<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
	<key>GSTheme</key>
	<string>DeltaSTEP</string>
	<key>NSInterfaceStyleDefault</key>
	<string>NSMacintoshInterfaceStyle</string>
	<key>GSFileBrowserHideDotFiles</key>
	<integer>1</integer>
</dict>
</plist>
