binary/

.build/

cache/

chroot/
chroot.*

config/binary
config/bootstrap
config/build
config/chroot
config/common
config/source

config/hooks/

live-image-*

config/includes.chroot/var/lib/deltastep/live_overlay_files.db

.lock
